<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/loginMedic.css">
</head>
<body>
    <div class="hero">
        <h1 style="position: absolute;top: 41vh;right: 0vh;width: 300px;color: #000000; font-size: 53px;"></h1>
        <div class="form-box">
            <div class="medApp">
                <div class="header" style="margin-top: 60px;margin-left: 65px;">
                    <img src="./img/logo.png" style="height: 70px; display: inline-block;" alt="bank">
                    <div class="text-wrapper" style=" display: inline-block; "><h2 style="color: black;margin-bottom: 30px; ">Eastern Union</h2></div>
                    
                </div>
            
            </div>
                <form action="/login" method="POST"id="login" class="input-group">
                <input type="username" name="username" class="input-field" placeholder="Email-ul de autentificare" required>
                <input type="password" name="password" class="input-field" placeholder="Parola" required>
                <button type="submit" class="submit-btn">Conectare</button>
                </form>
            </div>        
    </div>
</body>
</html>